* {
  margin: 0;
  padding: 0;
}
/* font-family: 'Mulish', sans-serif;
font-family: 'Open Sans', sans-serif; */

body {
  background: linear-gradient(
    180deg,
    rgba(227, 255, 248, 0) 82.08%,
    rgba(227, 255, 248, 0.38) 100%
  );
  font-family: "Mulish", "Open Sans", sans-serif;

  min-height: 100vh;
}

.page {
  width: 1040px;
  margin: 0px auto;
  padding-top: 64px;
}

/* Check margin */
nav {
  font-family: "Mulish", sans-serif;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Check list styling */
nav ul {
  display: flex;
  gap: 48px;
  list-style: none;
}

/* Check list link style */
nav ul li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

/* Make text bold on hover */
nav ul li a:hover {
  font-weight: bold;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 88px;
}

/* Check margin and font styling */
.text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.text h1 {
  font-family: "Mulish", sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 72px;
}

/* Check font styling */
.text h1 span {
  font-weight: 700;
  color: rgba(137, 197, 204, 1);
}

/* Check font styling */
.text p {
  font-family: "Open Sans", sans-serif;
  font-size: 16;
  color: #7d7987;
}

/* Check font styling and make sure the button is rounded */
.text button {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: rgba(105, 185, 157, 1);
  padding: 14px 32px 15px;
  width: 169px;
  height: 56px;
  border-radius: 12px;
  color: white;
  border: none;
}

/* Handle when user hover on the button */
.text button:hover {
  background-color: rgb(59, 175, 135);
}

/* Check the text styling */
footer {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

/* Check the text styling */
footer a {
  color: #000;
  text-decoration: none;
  font-weight: 700;
}

#balls {
  position: fixed;
  bottom: 0px;
  right: 0px;
}
