* {
  margin: 0;
  padding: 0;
}
/* font-family: 'Mulish', sans-serif;
font-family: 'Open Sans', sans-serif; */

body {
  background: linear-gradient(
    180deg,
    rgba(227, 255, 248, 0) 82.08%,
    rgba(227, 255, 248, 0.38) 100%
  );

  min-height: 100vh;
}

.page {
  width: 1040px;
  margin: 0px auto;
  padding-top: 64px;
}

/* Check margin */
nav {
  font-family: "Mulish", sans-serif;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45.4px;
}

/* Check list styling */
nav ul {
  display: flex;
  gap: 48px;
  color: #1f1534;
  font-size: 18px;
  list-style-type: none;
  a {
    text-decoration: none;
    color: #8f8a99;
  }
}

/* Check list link style */
nav ul li a {
}

/* Make text bold on hover */
nav ul li a:hover {
  font-weight: bold;
  color: #000;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 88px;
}

/* Check margin and font styling */
.text h1 {
  font-family: "Mulish", sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 72px;
  text-align: left;
  margin-bottom: 16px;
}

/* Check font styling */
.text h1 span {
  color: #89c5cc;
}

/* Check font styling */
.text p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #7d7987;
  line-height: 25.6px;
  text-align: left;
  margin-bottom: 48px;
}

/* Check font styling and make sure the button is rounded */
.text button {
  font-family: "Open Sans", sans-serif;
  display: flex;
  gap: 8px;
  color: white;
  background: #69b99d;
  width: Hug (169px) px;
  height: Fixed (56px) px;
  top: 486px;
  left: 120px;
  padding: 14px 32px 15px 32px;
  gap: 8px;
  border-radius: 4px;
  opacity: 0px;
  border: none;
  justify-content: center;
  align-items: center;
}

/* Handle when user hover on the button */
.text button:hover {
  background: #4a9a7e;
}

/* Check the text styling */
footer {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22.4px;
  text-align: center;
}

/* Check the text styling */
footer a {
  color: #000;
  text-decoration: none;
  font-weight: 700;
}

#balls {
  position: fixed;
  bottom: 0px;
  right: 0px;
}
